# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/